{% extends 'msarif/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4 pageCenter" id="content" >
            {{title}}
            <form method="POST">
                {% csrf_token %}
                {{ salaryForm.as_p }}
                <div class="col-md-4 ">
                    <a href="{% url 'home' %}"><button type="submit" class="btn btn-primary btn-block btn-md glyphicon glyphicon-ok"> حفظ </button></a>
                </div>
            </form>       
            </div>
            <div class="col-md-4"></div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <hr style="height:3px; color:#286090; background-color:#286090;">
        <h3>{{date.date}}</h3>
    </div>
</div>
{% endblock %}