{% extends 'msarif/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4 pageCenter" id="content" >
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr><th style="text-align: right">الصفحة الرئيسية</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>
                            <div class="input-group">       
                                <span class="input-group-addon"><a href="{% url 'income' %}" class="glyphicon glyphicon-option-vertical"></a></span>
                                <input class="form-control input-md" type="text" disabled style="text-align: center" 
                                       value="{% for i in obj %}{{i.salary}}{% endfor %}">
                            </div>
                        </td></tr>
                        <tr><td>
                            <div class="input-group">
                                <span class="input-group-addon"><a href="Expenses.html" class="glyphicon glyphicon-option-vertical"></a></span>
                                <input class="form-control input-md" type="text" placeholder="المصاريف" disabled style="text-align: center">
                            </div>
                        </td></tr>
                        <tr><td>
                             <div class="input-group">
                                <span class="input-group-addon"><a href="saving.html" class="glyphicon glyphicon-option-vertical"></a></span>
                                <input class="form-control input-md" type="text" placeholder="الإدخار" disabled style="text-align: center">
                            </div>
                        </td></tr>
                        <tr><td>
                            <input class="form-control input-md" type="text" placeholder="المتبقي" disabled style="text-align: center">
                        </td></tr>
                    </tbody>
                </table>
            </div>
        <div class="col-md-4"></div>
    </div>
    <hr style="height:3px; color:#286090; background-color:#286090;">
</div>
{% endblock %}